.photo__content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 250px;
	position: relative;
	background-image: url("https://images.pexels.com/photos/787961/pexels-photo-787961.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-position: center;
	background-size: cover;
	padding: 8px;
	margin-top: -54px;
}

.photo__content::before {
	content: "";
	background: rgb(1, 50, 70);
	background: linear-gradient(
		90deg,
		rgb(3 20 27) 0%,
		rgba(0, 212, 255, 0.04245448179271705) 100%
	);
	mix-blend-mode: multiply;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 250px;
	z-index: 0;
}

.photo__content h1 {
	position: relative;
	z-index: 10;
	text-transform: uppercase;
	font-size: 3.4em;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #e0e0e0b5;
	text-shadow: 0px 0px 4px #ffffff1a;
	line-height: 1;
	mix-blend-mode: color-dodge;
	margin-top: 32px;
	margin-bottom: 16px;
}

.photo__content p {
	color: var(--grey-light);
	position: relative;
	z-index: 10;
	font-size: 1.2em;
}

.photo__content button {
	margin: 4px;
	padding: 8px 20px;
	border: none;
	background-color: var(--primary-clr);
	color: white;
	position: relative;
	z-index: 15;
	cursor: pointer;
	border-radius: 4px;
	font-size: 1.1em;
}

.photograph__event,
.photo__content > p,
.photo__content button {
	transform: translateY(32px);
	filter: blur(12px);
	opacity: 0;
	animation: showContent 0.9s forwards ease-in-out 0.7s;
}

.photo__content > p {
	animation-delay: 1s;
}

.photo__content button {
	animation-delay: 1.2s;
}

@media only screen and (min-width: 720px) {
	.photo__content {
		height: clamp(400px, 59vw, 650px);
		justify-content: flex-start;
		align-items: flex-start;
		padding-top: 120px;
		padding-left: 16px;
		margin-top: -81px;
	}

	.photo__content::before {
		height: clamp(400px, 59vw, 650px);
	}

	.photo__content h1 {
		font-size: 5.2em;
		margin-bottom: 16px;
	}

	.photo__content p {
		font-size: 1.6em;
		margin-bottom: 16px;
	}

	.photo__content button {
		font-size: 1.5em;
		padding: 16px 32px;
	}
}

@keyframes showContent {
	to {
		transform: translateY(0);
		filter: blur(0);
		opacity: 1;
	}
}
