.lightbox {
	position: fixed;
	visibility: hidden;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 20;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 350ms ease-in-out, visibility 0s 350ms;
	/* transform: translateY(32px);
	filter: blur(12px); */
}

.lightbox.toggled {
	opacity: 1;
	visibility: visible;
	transition: opacity 350ms ease-in-out, visibility 0s;
}

.lightbox__box {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 150;
	max-width: 880px;
	transform: translateY(32px);
	filter: blur(12px);
	opacity: 0;
}

.lightbox.toggled .lightbox__box {
	animation: showContent 450ms forwards ease-in-out 250ms;
}

.lightbox__box .lightbox__close {
	border: none;
	background: url(../assets/x-circle.svg);
	background-position: center;
	text-indent: -3000px;
	width: 22.02px;
	height: 22.02px;
	cursor: pointer;
	z-index: 21;
	position: absolute;
	top: 16%;
	right: 10px;
	transform: translateY(32px);
	filter: blur(12px);
	opacity: 0;
}

.lightbox.toggled .lightbox__close {
	animation: showContent 450ms forwards ease-in-out 450ms;
}

.lightbox__next {
	border: none;
	width: fit-content;
	bottom: calc(29% + 10px);
	right: 8px;
	position: absolute;
	z-index: 21;
	cursor: pointer;
	color: white;
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	background: transparent;
}

.lightbox__prev {
	border: none;
	width: fit-content;
	bottom: calc(29% + 10px);
	left: 8px;
	position: absolute;
	z-index: 21;
	cursor: pointer;
	color: white;
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	background: transparent;
}

.lightbox__container {
	display: flex;
	height: 100vh;
	/* margin-right: 50px;
	margin-left: 50px; */
	padding: 0 8px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.lightbox__container img {
	max-height: 99dvh;
}

.lightbox__container .lightbox__info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 564px;
	margin-top: 19px;
}

.lightbox__info p.lightbox__ref {
	color: white;
}

.lightbox__info p.lightbox__cat {
	color: white;
}

@media only screen and (min-width: 720px) {
	.lightbox__prev {
		bottom: calc(50% + 10px);
		left: -58px;
		background: #000000a8;
	}
	.lightbox__next {
		bottom: calc(50% + 10px);
		right: -58px;
		background: #000000a8;
	}
}
