@import "./header.css";
@import "./hero.css";
@import "./photos-container.css";
@import "./lightbox.css";

:root {
	--primary-clr: #287094;
	--primary-clr-alt: #013246;
	--grey: #d3d4ce;
	--grey-light: #f6f6f6;
	--accent: #fb991c;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1440px;
	margin: auto;
}

/* h1 {
	color: var(--primary-clr);
} */
